:host {
  display: block;
}

.search-card {
  border: 1px solid var(--gray-200);
}

.link-highlight {
  cursor: pointer;
  position: relative;
}

.link-highlight::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, var(--brand-yellow), #f97316);
  opacity: 0.6;
}